<!DOCTYPE html>
<html lang="en">
<head>
  <title>Comitatus</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Proyecto Comitatus</h1>
  <p>Sitio web de asistencia efectiva para clases virtuales</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Salir</a>
      </li>
    </ul>
  </div>  
</nav>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Tu Perfil {{g.user.nombres}}</h2>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Tus Cursos</h2>
      <select name="cursos">
        <option value="1">{{g.user.cursos[0]}}</option> 
        <option value="2">{{g.user.cursos[1]}}</option> 
        <option value="3">{{g.user.cursos[2]}}</option>
        <option value="4">{{g.user.cursos[3]}}</option> 
        <option value="5">{{g.user.cursos[4]}}</option> 
     </select>
      <br><br>
      <h2>Fecha</h2>
      <select name="fecha">
        <option value="1">Hoy</option> 
        <option value="2">Manana</option> 
        <option value="3">Esta semana</option>
        <option value="10">Este mes</option> 
     </select>
     <br><br>
     <h2>Tus clases</h2>
     <table class="table">
        <tr>
          <td>{{g.user.cursos[0]}}</td>
          <td><a href="/register">Registrar</a></td>
        </tr>
        <tr>
          <td>{{g.user.cursos[1]}}</td>
          <td><a href="/register">Registrar</a></td>
        </tr>
        <tr>
          <td>{{g.user.cursos[2]}}</td>
          <td><a href="/register">Registrar</a></td>
        </tr>
        <tr>
          <td>{{g.user.cursos[3]}}</td>
          <td><a href="/register">Registrar</a></td>
        </tr>
        <tr>
          <td>{{g.user.cursos[2]}}</td>
          <td><a href="/register">Registrar</a></td>
        </tr>
      </table>
      

    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Gracias por usar Comitatus &#60;3</p>
</div>

</body>
</html>