<!DOCTYPE html>
<html>
<head>
  
<link rel="stylesheet" type = "text/css" href = "../static/style.css">
 </head> 
 <div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Registrate</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form method="POST">
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <input type="email" name="email" placeholder="Email" required />
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
            <input type="text" name="cui" placeholder="CUI" required />
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password" name="contrasenia" placeholder="Password" required />
          </div>
  
          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="nombres" placeholder="First Name" />
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="apellidos" placeholder="Last Name" required />
              </div>
            </div>
          </div>
          
          <div class="input_field select_option">
            <select name="escuela" required>
              <option>Selecciona una escuela</option>
              <option>Ciencia de la Computacion</option>
              <option>Arquitectura</option>
            </select>
            <div class="select_arrow"></div>
          </div>
          <div class="input_field checkbox_option">
            <input type="checkbox" id="cb1">
            <label for="cb1">I agree with terms and conditions</label>
          </div>
          <div class="input_field checkbox_option">
            <input type="checkbox" id="cb2">
            <label for="cb2">I want to receive the newsletter</label>
          </div>
          <input class="button" type="submit" value="Register" />
        </form>
      </div>
    </div>
  </div>
</div>
<p class="credit">Developed by Computer Science Students (UNSA)</a></p>
</body>
</html>